#content {
    display: grid;
    grid-template-columns: 150px repeat(4,1fr);
    grid-template-rows: auto auto 2fr auto;
    gap: 10px;
    height: 100vh;
}

header {
    background-color: rgb(240,140,0);
    border-radius: 5px;
    overflow: hidden;
    grid-column: 1/6;
    grid-row: 1;
    border: solid 1px black;
}

header img {
    height: 80px;
    padding: 10px;
    filter: grayscale(100%);
}

nav {
    width: 150px;
    min-height: 150px;
    grid-column: 1;
    grid-row: 2/4;
    background-color: rgb(240,140,0);
    border-radius: 5px;
    overflow: hidden;
    border: solid 1px black;
}

nav a {
    display: block;
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding-left: 10px;
}

nav a:hover {
    background-color: rgb(235,210,120);
    border-radius: 5px;
    overflow: hidden;
}

nav h4 {
    padding-left: 10px;
    font-size: 20px;
}

.brave {
    grid-column: 2;
    background-image: url("../images/cat.jpg");
    background-size: cover;
    height: 200px;
    font-size: 30px;
    border: solid 10px rgb(240,140,0);
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    text-align: end;
    color: white;
    padding-right: 10px;
}

.brave:hover {
    border: solid 10px rgb(235,210,120)
}

.intelligent {
    grid-column: 3;
    background-image: url("../images/light.jpg");
    background-size: cover;
    height: 200px;
    font-size: 30px;
    border: solid 10px rgb(240,140,0);
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    text-align: end;
    color: white;
    padding-right: 10px;
}

.intelligent:hover {
    border: solid 10px rgb(255, 0, 105)
}

.fair {
    grid-column: 4;
    background-image: url("../images/judge.jpg");
    background-size: cover;
    height: 200px;
    font-size: 30px;
    border: solid 10px rgb(240,140,0);
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    text-align: end;
    color: white;
    padding-right: 10px;
}

.fair:hover {
    border: solid 10px rgb(0, 175, 215)
}

.responsible {
    grid-column: 5;
    background-image: url("../images/eco.jpg");
    background-size: cover;
    height: 200px;
    font-size: 30px;
    border: solid 10px rgb(240,140,0);
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    text-align: end;
    color: white;
    padding-right: 10px;
}

.responsible:hover {
    border: solid 10px rgb(45, 170, 55)
}

article {
    grid-column: 2/6;
    grid-row: 3;
    background-color: rgb(115, 200, 227);
    border: solid 1px black;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    text-align: justify;
    text-size-adjust: auto;
}

footer {
    background-color: rgb(240,140,0);
    border-radius: 5px;
    overflow: hidden;
    grid-row: 4;
    grid-column: 1/6;
    display: grid;
    grid-template-columns: 150px 200px;
    grid-template-rows: 30px auto;
    border: solid 1px black;
}

p span {
    display: block;
    padding-left: 10px;
    text-align: left;
}
footer h4 {
    padding-left: 10px;
}

#käyntiosoite {
    grid-column: 2;
    grid-row: 2;
}

#kirjaamo {
    grid-column: 1;
    grid-row: 2;
}

#oulunKaupunki {
    grid-column: 1;
}

#asiakaspalvelu {
    grid-column: 2;
}

footer img {
    height: 80px;
    padding: 10px;
    grid-column: 3;
    grid-row: 2;
    position: absolute; right: 0%;
    padding-top: 20px;
    padding-right: 20px;
}

@media only screen and (max-width: 768px) {
    #content {
        display: grid;
        grid-template-columns: 150px 1fr;
        grid-template-rows: 100px 20px 20px 20px 20px 1fr 150px;
        height: 100vh;
    }

    header {
        grid-row: 1;
        grid-column: 1/3;
    }

    nav {
        grid-row: 2/7;
        grid-column: 1;
    }
    
    footer {
        grid-row: 7;
        grid-column: 1/3;
    }

    article {
        grid-row: 6;
        grid-column: 2/3;
    }

    .brave {
        background-image: none;
        grid-column: 2/3;
        grid-row: 2;
        height: 20px;
        background-color: rgb(235,210,120);
        text-align: center;
        font-size: 1em;
        color: black;
        border: solid 2px black
    }

    .intelligent {
        background-image: none;
        grid-column: 2/3;
        grid-row: 3;
        height: 20px;
        background-color: rgb(235,210,120);
        text-align: center;
        font-size: 1em;
        color: black;
        border: solid 2px black
    }
    .fair {
        background-image: none;
        grid-column: 2/3;
        grid-row: 4;
        height: 20px;
        background-color: rgb(235,210,120);
        text-align: center;
        font-size: 1em;
        color: black;
        border: solid 2px black
    }
    .responsible {
        background-image: none;
        grid-column: 2/3;
        grid-row: 5;
        height: 20px;
        background-color: rgb(235,210,120);
        text-align: center;
        font-size: 1em;
        color: black;
        border: solid 2px black
    }

    .brave:hover {
        background-color: rgb(240,140,0);
        border: solid 2px rgb(185, 75, 10)
    }

    .intelligent:hover {
        background-color: rgb(240,140,0);
        border: solid 2px rgb(185, 75, 10)
    }

    .fair:hover {
        background-color: rgb(240,140,0);
        border: solid 2px rgb(185, 75, 10)
    }

    .responsible:hover {
        background-color: rgb(240,140,0);
        border: solid 2px rgb(185, 75, 10)
    }

    footer img {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    #content {
        display: grid;
        grid-template-columns: 20px 1fr;
    }

    nav {
        width: 20px;
        grid-row: 2/6;
    }

    nav a {
        visibility: hidden;
    }

    nav h4 {
        visibility: hidden;
    }

    nav:hover{
        width: 150px;
    }

    nav:hover > a {
        visibility: visible;
        font-size: 0.75em;

    }
    nav:hover h4 {
        visibility: visible;
        font-size: 0.8em;
    }

    article {
        grid-column: 1/3;
    }

    .brave {
        grid-column: 1/3;
    }
    
    .intelligent {
        grid-column: 1/3;
    }

    .fair {
        grid-column: 1/3;
    }

    .responsible {
        grid-column: 1/3;
    }
}